//start main



.main
  .main__imgs-wrap
      img.main__img(src="img/main-img.jpg")
      .item-slider
          button.next-medium.item-slider__next
          button.prev-medium.item-slider__prev
          .item-slider__content
              .item-slider__item: .item-slider__item-content(role="img" style="background-image: url('img/item-slider.png')")
              .item-slider__item: .item-slider__item-content(role="img" style="background-image: url('img/item-slider.png')")
              .item-slider__item: .item-slider__item-content(role="img" style="background-image: url('img/item-slider.png')")
              .item-slider__item: .item-slider__item-content(role="img" style="background-image: url('img/item-slider.png')")
              .item-slider__item: .item-slider__item-content(role="img" style="background-image: url('img/item-slider.png')")
              .item-slider__item: .item-slider__item-content(role="img" style="background-image: url('img/item-slider.png')")
              .item-slider__item: .item-slider__item-content(role="img" style="background-image: url('img/item-slider.png')")
              .item-slider__item: .item-slider__item-content(role="img" style="background-image: url('img/item-slider.png')")
              .item-slider__item: .item-slider__item-content(role="img" style="background-image: url('img/item-slider.png')")

  .main__descr


      +box


      .main__options-bar
          .main__rating-wrap
              .rating-item
              .rating-item
              .rating-item
              .rating-item
              .rating-item
          a.solid-link.main__recalls-link(href="#") 36 отзывов
          .main__wishlist-wrap
              span.main__wishlist-ico
              a.solid-link(href="#") В список желаний
          .main__compare-wrap
              span.main__compare-ico
              a.solid-link(href="#") В сравнение


      .main__chars-wrap
          p.main__descr-text Диагональ экрана: #[span 32&quot;;]
          p.main__descr-text Типа телевизора: #[span LED;]
          p.main__descr-text Разрешение экрана: #[span Full HD (1920x1080);]
          p.main__descr-text Частота развертки экрана: #[span 400 Гц;]
          p.main__descr-text 3-D телевизор: #[span Да;]
          p.main__descr-text Smart TV: #[span Да;]

      footer.main__descr-footer
          span.main__descr-text Поделись с другом:
          .main__share-wrap
              .main__share


  .main__conditions
      .main__conditions-deliv
          h6.heading.main__deliv-heading Доставка
          p.main__conditions-text по Киеву: #[strong 40 грн].
          p.main__conditions-text Экспресс доставка по Киеву: #[strong 80 грн].
          p.main__conditions-text по Украине (уточняйте у менеджера)
          p.main__conditions-text Самовывоз
      .main__conditions-pay
          h6.heading.main__pay-heading Оплата
          p.main__conditions-text наличными при
              br
              | получении товара
      .main__conditions-guarant
          h6.heading.main__guarant-heading Гарантия
          p.main__conditions-text 24 месяца

      a.link.main__conditions-more(href="#") Подробные условия
//end main