//start also
.also
   h4.title Аксессуары к Samsung UE40F8000ATXUA
      .also__sort-btns
         button.sort-btn Все аксессуары
         button.sort-btn.is-active HD-медиаплееры
         button.sort-btn.is-active Настенные крепления
      .also-slider
         button.prev-medium.also-slider__prev
         button.next-medium.also-slider__next
         .also-slider__content
            +itemShort
            +itemShort
            +itemShort
            +itemShort
            +itemShort
            +itemShort
            +itemShort
//end also