//start descr
.descr
   .descr__title-wrap
      h6.title Описание
   .descr__content
      h6 Самый современный способ управления вашим Smart-телевизором
      p Революционная система голосового управления и распознавание движений Ваших рук позволит Вам перейти на новый уровень развлечений с Вашим Smart-телевизором Samsung. Теперь, когда Вы хотите отдохнуть и не можете найти пульт ДУ, Вам достаточно произнести "Hi TV" или махнуть рукой, и Ваш Smart-телевизор Samsung мгновенно выполнит Ваши команды, переключится на другой канал, увеличит или уменьшит громкость звука.
      img(src="img/descr-img.jpg")
      a(href="#") Детальное описание
//end descr