
.recently
   .recently__inner
      h4.title Вы недавно просматривали
      .recently__slider
         button.prev-medium.recently__prev
         button.next-medium.recently__next
         .recently__content
            +item
            +item
            +item
            +item
            +item
            +item
            +item
            +item
            +item
            +item