extends _layout
block title
	title index

block content
	ul
		li: a(href="home.html") home
		li: a(href="404.html") 404
		li: a(href="contacts.html") contacts
		li: a(href="reg.html") registration
		li: a(href="compare.html") compare
		li: a(href="reviews.html") reviews
		li: a(href="result.html") result
		li: a(href="portal.html") portal
		li: a(href="thanks.html") thanks
		li: a(href="cab.html") cab
		li: a(href="prod.html") prod
		li: a(href="to-read.html") to-read
		li: a(href="cart.html") cart
		li: a(href="photo.html") photo
		li: a(href="choose.html") choose

