extends _layout
block title
	title photo


block content

		.overlay
			.photo
				button.close.photo__close
				h6.heading.photo__heading LG 32LB570U
				.photo__slider
					button.prev.photo__prev
					button.next.photo__next
					.photo__slider-content
						.photo__item-wrap
							img.photo__slider-item(src="img/photo-slider1.jpg")
						.photo__item-wrap
							img.photo__slider-item(src="img/photo-slider1.jpg")
						.photo__item-wrap
							img.photo__slider-item(src="img/photo-slider1.jpg")
				.photo__content
					+box
					.photo__slider-items
						.photo__slider-preview-wrap.is-active
							img.photo__slider-preview(src="img/photo-slider1.jpg")
						.photo__slider-preview-wrap
							img.photo__slider-preview(src="img/photo-slider1.jpg")
						.photo__slider-preview-wrap
							img.photo__slider-preview(src="img/photo-slider1.jpg")
						.photo__slider-preview-wrap
							img.photo__slider-preview(src="img/photo-slider1.jpg")
						.photo__slider-preview-wrap
							img.photo__slider-preview(src="img/photo-slider1.jpg")









