extends _layout
block title
   title to-read



block content
   include _header
   include _intro
   include _menu
   +hint-block('Получить скидочную карту')

   section.to-read
      +card
      .to-read__inner
         ul.breadcrumbs
            li: a(href="#") Главная
            li: a(href="#") Обзоры и статьи
         h4.title.to-read__title Как выбрать телевизор?
         .to-read__main
            .to-read__box
               .to-read__intro
                  span.to-read__date 23 октября 2013
                  span.to-read__view-counter Просмотрено 325 раз
                  a.simple-link.to-read__intro-link(href="") Советы по выбору техники
               .to-read__content
                  h6 Самый современный способ управления вашим Smart-телевизором
                  p Революционная система голосового управления и распознавание движений Ваших рук позволит Вам перейти на новый уровень развлечений с Вашим Smart-телевизором Samsung. Теперь, когда Вы хотите отдохнуть и не можете найти пульт ДУ, Вам достаточно произнести "Hi TV" или махнуть рукой, и Ваш Smart-телевизор Samsung мгновенно выполнит Ваши команды, переключится на другой канал, увеличит или уменьшит громкость звука.
                  img(src="img/to-read-img1.jpg")

                  h6 Революционный способ приобщиться к спорту, не покидая своего дивана
                  p Всегда хотелось вернуть назад голевой эпизод, который вы пропустили ? Или поделиться им с другом или близкими? Режим Soccer Mode позволяет легко это сделать или с помощью. горячей клавиши Вы можете связаться с вашими друзьями через сервис Social TV или вернуться обратно к пропущенному снимку, и высокое качество изображения и звука создаст у вас ощущение полного присутствия в происходящем на экране.

                  div
                     img(src="img/to-read-img2.jpg")
                     p Дизайн телевизора F8000 - гармония утонченности и роскоши. Этот телевизор станет украшением вашего дома. Металлическая отделка и арочная подставка - отличительные детали этого поистине великолепного произведения современного технологического мастерства. Тщательное исполнение мельчайших деталей телевизора настолько впечатляет, что телевизор превращается в важный элемент декора вашего дома.

                  h6 Пример реализации списков и таблицы
                  p Всегда хотелось вернуть назад голевой эпизод, который вы пропустили ? Или поделиться им с другом или близкими? Режим Soccer Mode позволяет легко это сделать или с помощью. горячей клавиши Вы можете связаться с вашими друзьями через сервис Social TV или вернуться обратно к пропущенному снимку, и высокое качество изображения и звука создаст у вас ощущение полного присутствия в происходящем на экране.

                  table
                     tr
                        th Основное
                        th Второстепенное
                     mixin tableTr(first, sec)
                        tr
                           td=first
                           td=sec
                     +tableTr('Размеры экрана', '5"')
                     +tableTr('Количество ядер ', '8 ядер ')
                     +tableTr('Операционная система  ', 'Android 4.4 KitKat  ')
                     +tableTr('Разрешение камеры', '13 Мпикс ')
                     +tableTr('Частота процессора', '1,6 ГГц ')

                  ul
                     li Заголовок
                     li Изображение
                     li Краткий анонс
                     li Кнопка “Подробнее”
                     li Кнопка “Добавить в закладки”


            .to-read__aside
               h6.heading.to-read__aside-heading Товары из статьи
               +item('item_to-read')
               +share('share_to-read')


      include _footer



